.homepage--container-header {
    padding: 15px 40px;
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #D8D9DA;
    border-radius: 8px;
}

.homepage--container-header img {
    border-radius: 100%;
}

.homepage--container-header-profile {
    display: flex;
    align-items: center;
}

.homepage--container-header-profile-main {
    margin: 0px 20px;
}

.homepage--container-header-profile-main p {
    margin-top: 8px;
    font-size: 18px;
}

.homepage--container-header-profile-main button {
    margin-top: 30px;
    padding: 16px 28px;
    font-weight: bold;
    border-radius: 8px;
    background-color: white;
    color: #668b44;
}

.homepage--container-header-profile-main button:first-child {
    padding: 16px 28px;
    background-color: #0000EE;
    color: white;
}

.homepage--container-header-profile-vl {
    height: 150px;
    border: 1px solid #D8D9DA;
}

.homepage--container-header-profile-details {
    display: flex;
}

.homepage--container-header-profile-details ul:first-child {
    margin: 0px 20px;
    font-weight: bold;
}

.homepage--container-header-profile-details ul li {
    list-style: none;
    margin-bottom: 10px;
    font-size: 18px;
}